In [1]:
import pandas as pd

In [2]:
#test = pd.read_csv("~/.kaggle/competitions/talkingdata-adtracking-fraud-detection/test.csv")
#train = pd.read_csv("~/.kaggle/competitions/talkingdata-adtracking-fraud-detection/train.csv")
train_sample = pd.read_csv("~/.kaggle/competitions/talkingdata-adtracking-fraud-detection/train_sample.csv")
#test_supplement = pd.read_csv("~/.kaggle/competitions/talkingdata-adtracking-fraud-detection/test_supplement.csv")
#sample_submission = pd.read_csv("~/.kaggle/competitions/talkingdata-adtracking-fraud-detection/sample_submission.csv")

In [3]:
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [4]:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print ("Missing values per column:")
print (train_sample.apply(num_missing, axis=0) )#axis=0 defines that function is to be applied on each column

Missing values per column:
ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

In [5]:
#whoa that's a lot missing
len(train_sample.attributed_time)

100000

In [5]:
train_sample = train_sample.drop("attributed_time",axis=1)

In [8]:
len(train_sample[train_sample.is_attributed == 1])

227

In [ ]:
trainX =